@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body, html {
    font-family: Montserrat;
    margin: 0;
}

body {
    font-size: 62.5%;
}

/* Block One */
#block-one {
    background: #FF6F6F;
    background: -webkit-linear-gradient(45deg, #FF6F6F 0%,#FF9140 100%);
    background: -moz-linear-gradient(45deg, #FF6F6F 0%, #FF9140 100%);
    background: linear-gradient(45deg, #FF6F6F 0%,#FF9140 100%);

    padding-bottom: 2em;
}

/* Call to Action */
#cta {
    text-align: center;
    color: white;
    margin: 0;
}

#cta h1 {
    font-size: 2.5em;
    margin: 0;
    padding: 5vw 0;
}

/* Blog Article */
.blog-article {
    margin: 1em;
    position: relative;
    padding-bottom: 2em;
}

.blog-article h2 {
    text-align: center;
    font-size: 1.3em;
}

.blog-article a {
    position: absolute;
    bottom: 0em;
    right: 0em;
    font-size: 1.2em;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* Desktop */
@media only screen and (min-width: 1024px) {
    #cta h1 {
        font-size: 5vh;
        padding: 2vw 0;
    }

    #cta h3 {
        font-size: 3vh;
    }

    /* Blog Article */
    .blog-article {
        margin: 3em;
    }

    .blog-article h2 {
        font-size: 4vh;
    }

    .blog-article p {
        font-size: 2.5vh;
    }

    .blog-article a {
        font-size: 3vh
    }
}

/* Tablet Portrait */
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) {
    #cta h1 {
        font-size: 3.5vh;
    }

    #cta h3 {
        font-size: 2vh;
    }

    /* Blog Article */
    .blog-article {
        margin: 3em;
    }

    .blog-article h2 {
        font-size: 4vh;
    }

    .blog-article p {
        font-size: 2vh;
    }

    .blog-article a {
        font-size: 2.5vh
    }
}