@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body, html {
    font-family: Montserrat;
    margin: 0;
}

body {
    font-size: 62.5%;
}

/* Call To Action */
#cta {
    margin: 1em;
}

#contact-info-header {
    text-align: center;
    font-size: 3em;
}

#headshot-img {
    max-width: 70%;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#contact-list {
    display: inline-flex;
    list-style: none;
    justify-content: center;
    padding: 0;
    width: 100%;
}

#contact-list li {
    margin: 1.5em;
}

#contact-list li a {
    color: black;
    font-size: 1.5em;
}

#contact-email{
    text-decoration: none;
    color: black;
    text-align: center;
    display: block;
    font-weight: bold;
    font-size: 1.66em;
    margin-bottom: 2em;
}

#short-about-me {
    display: none;
}

#history-header {
    margin: 4vw 2vw;
    font-size: 2em;
}

/* Block Two */
#block-two {
    margin: 0 2vw 10vw 2vw;
    font-size: 1.4em;
}

#block-two-img {
    width: 100%;
}

/* Block Three */
#block-three {
    margin: 10vw 2vw;
    font-size: 1.4em;
}

#block-three-img {
    width: 100%;
}

/* Block Four */
#block-four {
    margin: 10vw 2vw;
    font-size: 1.4em;
}

#block-four-img {
    width: 100%;
}

#to-be-continued {
    text-align: center;
    font-size: 2em;
}

/* Tablet Landscape */
@media only screen and (min-width : 768px) and (max-width : 1224px) and (orientation : landscape) {
    /* Call To Action */
    #cta {
        display: grid;
        grid-template-columns: 50% 50%;
        margin-top: 2em;
    }

    #contact-info-header {
        display: none;
    }

    #headshot-img {
        max-width: 50%;
    }

    #contact-list li a {
        color: black;
        font-size: 1.25em;
    }

    #contact-email{
        font-size: 1.5em
    }

    #short-about-me {
        display: block;
        width: 70%;
        margin: auto;
    }

    #short-about-me-header {
        margin: 0;
        font-size: 2em;
    }

    #short-about-me-content {
        margin: 0;
        font-size: 1.33em;
    }

    #history-header {
        margin: 3vw 2.5vw;
        font-size: 2em;
    }

    .history-text {
        width: 90%;
        align-self: center;
        margin-left: auto;
        margin-right: auto;
        font-size: 1em;
    }

    /* Block Two */
    #block-two {
        margin: 1em 2.5vw 2.5vw 2.5vw;
        display: grid;
        grid-template-columns: 50% 50%;
    }

    #block-two-img {
        width: 100%;
    }

    /* Block Three */
    #block-three {
        margin: 8em 2.5vw 2.5vw 2.5vw;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas: "text img"
    }

    #block-three-img {
        width: 100%;
        grid-area: img;
    }

    #block-three-text {
        grid-area: text;
        width: 100%;
        padding-right: 20vw; 
    }

    /* Block Four */
    #block-four {
        margin: 8em 2.5vw 2.5vw 2.5vw;
        display: grid;
        grid-template-columns: 50% 50%;
    }

    #block-four-img {
        width: 100%;
    }

    #to-be-continued {
        margin: 4em;
        font-size: 1.75em;
    }
}

/* Tablet Portrait */
@media only screen and (min-width : 768px) and (max-width : 1224px) and (orientation : portrait) {

    /* Call To Action */
    #cta {
        display: grid;
        grid-template-columns: 50% 50%;
        margin-top: 2em;
    }

    #contact-info-header {
        display: none;
    }

    #headshot-img {
        max-width: 50%;
    }

    #contact-list li a {
        color: black;
        font-size: 1.25em;
    }

    #contact-email{
        font-size: 1.5em
    }

    #short-about-me {
        display: block;
        width: 70%;
        margin: auto;
    }

    #short-about-me-header {
        margin: 0;
        font-size: 2em;
    }

    #short-about-me-content {
        margin: 0;
        font-size: 1.33em;
    }

    #history-header {
        margin: 3vw 3vw;
        font-size: 2em;
    }

    .history-text {
        width: 90%;
        align-self: center;
        margin-left: auto;
        margin-right: auto;
        font-size: 1em;
    }

    /* Block Two */
    #block-two {
        margin: 3vw;
        display: grid;
        grid-template-columns: 50% 50%;
    }

    #block-two-img {
        width: 100%;
    }

    /* Block Three */
    #block-three {
        margin: 8em 3vw 3vw 3vw;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas: "text img"
    }

    #block-three-img {
        width: 100%;
        grid-area: img;
    }

    #block-three-text {
        grid-area: text;
        width: 100%;
        padding-right: 20vw; 
    }

    /* Block Four */
    #block-four {
        margin: 8em 3vw 3vw 3vw;
        display: grid;
        grid-template-columns: 50% 50%;
    }

    #block-four-img {
        width: 100%;
    }

    #to-be-continued {
        margin: 4em;
        font-size: 1.75em;
    }
}

/* Desktop */
@media only screen and (min-width: 1224px) and (max-width : 1824px) {
    /* Call To Action */
    #cta {
        display: grid;
        grid-template-columns: 50% 50%;
        margin-top: 2em;
    }

    #contact-info-header {
        display: none;
    }

    #headshot-img {
        max-width: 50%;
    }

    #contact-list li a {
        color: black;
        font-size: 1.5em;
    }

    #contact-email{
        font-size: 1.75em
    }

    #short-about-me {
        display: block;
        width: 70%;
        margin: auto;
    }

    #short-about-me-header {
        margin: 0;
        font-size: 2.5em;
    }

    #short-about-me-content {
        margin: 0;
        font-size: 1.66em;
    }

    #history-header {
        margin: 3vw 2vw;
        font-size: 2.5em;
    }

    .history-text {
        width: 90%;
        align-self: center;
        margin-left: auto;
        margin-right: auto;
        font-size: 1.25em;
    }

    /* Block Two */
    #block-two {
        margin: 2vw;
        display: grid;
        grid-template-columns: 50% 50%;
    }

    #block-two-img {
        width: 100%;
    }

    /* Block Three */
    #block-three {
        margin: 8em 2vw 2vw 2vw;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas: "text img"
    }

    #block-three-img {
        width: 100%;
        grid-area: img;
    }

    #block-three-text {
        grid-area: text;
        width: 100%;
        padding-right: 20vw; 
    }

    /* Block Four */
    #block-four {
        margin: 8em 2vw 2vw 2vw;
        display: grid;
        grid-template-columns: 50% 50%;
    }

    #block-four-img {
        width: 100%;
    }

    #to-be-continued {
        margin: 1.5em;
        font-size: 2.5em;
    }
}

/* Desktop Large */
@media only screen  and (min-width : 1824px) {
    /* Call To Action */
    #cta {
        display: grid;
        grid-template-columns: 50% 50%;
        margin-top: 2em;
    }

    #contact-info-header {
        display: none;
    }

    #headshot-img {
        max-width: 50%;
    }

    #contact-list li a {
        color: black;
        font-size: 2em;
    }

    #contact-email{
        font-size: 2em
    }

    #short-about-me {
        display: block;
        width: 70%;
        margin: auto;
    }

    #short-about-me-header {
        margin: 0;
        font-size: 3em;
    }

    #short-about-me-content {
        margin: 0;
        font-size: 2em;
    }

    #history-header {
        margin: 2vw 2vw;
        font-size: 3em;
    }

    .history-text {
        width: 90%;
        align-self: center;
        margin-left: auto;
        margin-right: auto;
        font-size: 1.5em;
    }

    /* Block Two */
    #block-two {
        margin: 2vw;
        display: grid;
        grid-template-columns: 50% 50%;
    }

    #block-two-img {
        width: 100%;
    }

    /* Block Three */
    #block-three {
        margin: 8em 2vw 2vw 2vw;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas: "text img"
    }

    #block-three-img {
        width: 100%;
        grid-area: img;
    }

    #block-three-text {
        grid-area: text;
        width: 100%;
        padding-right: 20vw; 
    }

    /* Block Four */
    #block-four {
        margin: 8em 2vw 2vw 2vw;
        display: grid;
        grid-template-columns: 50% 50%;
    }

    #block-four-img {
        width: 100%;
    }

    #to-be-continued {
        margin: 2em;
        font-size: 2.75em;
    }
}