@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body, html {
    font-family: Montserrat;
    margin: 0;
}

/* Block One CSS*/
#block-one-bg {
    min-height: 700px;

    background: #00fff5; /* Old browsers */
    background: -moz-linear-gradient(45deg, #00fff5 0%, #0076ff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #00fff5 0%,#0076ff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #00fff5 0%,#0076ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00fff5', endColorstr='#0076ff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#block-one {
    background-image: -webkit-linear-gradient(-30deg, white 70%, transparent 30%);

    min-height: 700px;
    margin-top: -700px
}

#cta {
    line-height: 0.9em;
    margin: 5em 2em 0 2em;
}

#cloud-img {
    display: none;
}

h1 {
    font-weight: normal;
    font-size: 1.5em;
    font-size: 8vw;
}

h2 {
    font-size: 2.2em;
    font-size: 10vw;
}

#tool1 {
    font-weight: bold;
}

#tool2 {
    font-weight: bold;
    color: rgba(0, 0, 0, 50%);
}

#tool3 {
    font-weight: bold;
    color: rgba(0, 0, 0, 25%);
}

#tool4 {
    font-weight: bold;
    color: rgba(0, 0, 0, 12.5%);
}

#button {
    display: block;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: white;
    background: #00fff5; /* Old browsers */
    background: -moz-linear-gradient(45deg, #00fff5 0%, #0076ff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #00fff5 0%,#0076ff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #00fff5 0%,#0076ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00fff5', endColorstr='#0076ff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    padding: 1em 3em 1em 3em;
    border-radius: 1000pt;
    margin-top: 5em;
    width: 5em;

    -webkit-box-shadow: 0px 0px 20px 3px rgba(0,118,255,0.33);
    -moz-box-shadow: 0px 0px 20px 3px rgba(0,118,255,0.33);
    box-shadow: 0px 0px 20px 3px rgba(0,118,255,0.33);
}

/* Desktop */
@media only screen and (min-width: 768px) {

    /* Block One CSS*/
    #block-one {
        background-image: -webkit-linear-gradient(-30deg, white 40%, transparent 40%);
    }

    #cloud-img {
        display: block;
        float: right;
    }

    #cta {
        margin: 2em 2em 0 2em;
        display: grid;
        grid-template-columns: 50% 50%
    }

    h1 {
        font-weight: normal;
        font-size: 2.2em;
    }
    
    h2 {
        font-size: 2.5em;
    }
}
