@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body,html {
    font-family: Montserrat;
    margin: 0;
}

body {
    font-size: 62.5%;
}

#cta {
    padding: 0 5vw;
}

#cta img {
    width: 50%;
    border-radius: 50%;
    display: block;
    margin: 15vw auto 0 auto;
}

#cta h1 {
    text-align: center;
    font-size: 3em;
    margin-bottom: 0;
}

#cta p {
    text-align: center;
    font-size: 1.4em;
    margin: 0;
}

#cta a {
    display: block;
    text-align: center;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 2em;
    width: 40vw;
    border: 3px #ff8f00 solid;
    border-radius: 20px;
    padding: 1vw;
    margin: 10vw auto 0 auto;
}

#cta a:hover {
    background: #ff8f00;
    color: white;
}

#top-break {
    margin: 20vw 5vw;
}

h2 {
    padding: 0 5vw;
    margin-top: 20vw;
    font-size: 2.25em;
}

.project {
    padding: 0 5vw;
}

.project img {
    width: 100%;
}

.project h3 {
    font-size: 1.66em;
}

.project p {
    font-size: 1.5em;
}

.project span {
    color: grey;
    font-size: 1.5em;
}

.project a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    float: right;
    font-size: 1.5em;
}

.project-break {
    margin: 5vw 0;
}

/* Tablet Landscape */
@media only screen and (min-width : 768px) and (max-width : 1224px) and (orientation : landscape) {
    #cta {
        padding: 0 2.5vw;
        display: grid;
        grid-template-columns: 50% 50%;
    }

    #cta img {
        width: 60%;
        border-radius: 25%;
        margin: 5vw auto 0 auto;
    }

    #cta div {
        margin: auto 0;
    }

    #cta a {
        padding: 0.2vw;
        width: 16vw;
        margin: 5vw auto 0 auto;
    }

    #top-break {
        margin: 8vw 2.5vw;
    }

    h2 {
        padding: 0 2.5vw;
        margin-top: 0vw;
    }

    .project {
        padding: 0 2.5vw;
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .project div {
        position: relative;
        padding: 0 2vw;
    }

    .project h3 {
        margin: 0;
    }

    .project p {
        margin: 2vw 0 0 0;
    }

    .project span {
        position: absolute;
        bottom: 0;
        margin: 0;
    }

    .project a {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .project-break {
        margin: 3vw 2vw;
    }
}

/* Tablet Portrait */
@media only screen and (min-width : 768px) and (max-width : 1224px) and (orientation : portrait) {
    #cta {
        padding: 0 3vw;
        display: grid;
        grid-template-columns: 50% 50%;
    }

    #cta img {
        width: 60%;
        border-radius: 25%;
        margin: 5vw auto 0 auto;
    }

    #cta div {
        margin: auto 0;
    }

    #cta a {
        padding: 0.2vw;
        width: 16vw;
        margin: 5vw auto 0 auto;
    }

    #top-break {
        margin: 8vw 3vw;
    }

    h2 {
        padding: 0 3vw;
        margin-top: 0vw;
    }

    .project {
        padding: 0 3vw;
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .project div {
        position: relative;
        padding: 0 2vw;
    }

    .project h3 {
        margin: 0;
    }

    .project p {
        margin: 2vw 0 0 0;
    }

    .project span {
        position: absolute;
        bottom: 0;
        margin: 0;
    }

    .project a {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .project-break {
        margin: 3vw 2vw;
    }
}

/* Desktop */
@media only screen and (min-width: 1224px) and (max-width : 1824px) {
    #cta {
        padding: 0 2vw;
        display: grid;
        grid-template-columns: 50% 50%;
    }

    #cta img {
        width: 60%;
        border-radius: 25%;
        margin: 5vw auto 0 auto;
    }

    #cta div {
        margin: auto 0;
    }

    #cta h1 {
        font-size: 5em;
    }

    #cta p {
        font-size: 1.75em;
    }

    #cta a {
        padding: 0.2vw;
        font-size: 2em;
        width: 30%;
        margin: 5vw auto 0 auto;
    }

    #top-break {
        margin: 8vw 2vw;
    }

    h2 {
        padding: 0 2vw;
        margin-top: 0vw;
        font-size: 2.75em;
    }

    .project {
        padding: 0 2vw;
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .project div {
        position: relative;
        padding: 0 2vw;
    }

    .project h3 {
        font-size: 2.25em;
        margin: 0;
    }

    .project p {
        margin: 2vw 0 0 0;
        font-size: 1.66em;
    }

    .project span {
        position: absolute;
        bottom: 0;
        margin: 0;
        font-size: 1.75em;
    }

    .project a {
        position: absolute;
        bottom: 0;
        right: 0;
        font-size: 1.75em;
    }

    .project-break {
        margin: 3vw 2vw;
    }
}

/* Desktop Large */
@media only screen  and (min-width : 1824px) {
    #cta {
        padding: 0 2vw;
        display: grid;
        grid-template-columns: 50% 50%;
    }

    #cta img {
        width: 60%;
        border-radius: 25%;
        margin: 5vw auto 0 auto;
    }

    #cta div {
        margin: auto 0;
    }

    #cta h1 {
        font-size: 6em;
    }

    #cta p {
        font-size: 2.25em;
    }

    #cta a {
        padding: 0.2vw;
        font-size: 2.1em;
        width: 30%;
        margin: 5vw auto 0 auto;
    }

    #top-break {
        margin: 8vw 2vw;
    }

    h2 {
        padding: 0 2vw;
        margin-top: 0vw;
        font-size: 3.5em;
    }

    .project {
        padding: 0 2vw;
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .project div {
        position: relative;
        padding: 0 2vw;
    }

    .project h3 {
        font-size: 2.75em;
        margin: 0;
    }

    .project p {
        margin: 2vw 0 0 0;
        font-size: 2em;
    }

    .project span {
        position: absolute;
        bottom: 0;
        margin: 0;
        font-size: 2.25em;
    }

    .project a {
        position: absolute;
        bottom: 0;
        right: 0;
        font-size: 2.25em;
    }

    .project-break {
        margin: 3vw 2vw;
    }
}