/* Navbar */
nav {
    display: grid;
    grid-template-columns: max-content auto;
    padding: 5vw;
}

#nav-icon {
    font-size: 5vw;
    font-weight: bold;
    line-height: 4.5vw;
    color: #000000;
    text-decoration: none;
    overflow: hidden;
    display: block;
}

#nav-icon-subtext {
    font-size: 3.5vw;
    font-weight: normal;
    color: #000000;
}

#nav-img {
    background: no-repeat;
    cursor: pointer;
    width: 30px;
    float: right;
}

#nav-img-container {
    width: 100%;
}

#nav-block {
    list-style-type: none;
    list-style: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: none;
}

.nav-elements {
    padding: 8vh 0 0 0;
}

.nav-elements a {
    color: black;
    text-decoration: none;
}

.nav-active {
    position: fixed;
    display: block !important;
    background: #ffffff;
    width: 50%;
    height: 100%;
    left: 0;
    top: 0;
    font-size: 5.5vw;
    text-align: center;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
}

.nav-open a {
    font-weight: bold;
}

/* Footer */
footer {
    background: #EFEFEF;
    padding: 5vw;
    font-size: 5.5vw;
}

#footer-social {
    display: inline-flex;
    list-style: none;
    margin: 1.5vh 2vh 0 2vh;
}

#footer-social li {
    display: inline-flex;
    list-style: none;
    padding: 0 8vw 0 0;
}

#footer-nav {
    margin: 0 2vh 0 2vh;
}

footer h4 {
    margin: 5vh 0 1vh 0;
}

footer ul {
    list-style-type: none;
    list-style: none;
    padding: 0;
}

footer ul li {
    padding-top: 2vw;
}

footer ul li a {
    text-decoration: none;
    color: black;
}

/* Desktop */
@media only screen and (min-width: 1024px) {

    /* Navbar */
    nav {
        display: grid;
        grid-template-columns: auto auto none;
        padding: 2vw;
    }

    #nav-icon {
        font-size: 1.6vw;
        line-height: 1.3vw;
    }

    #nav-icon-subtext {
        font-size: 1vw;
    }

    #nav-img-container {
        display: none;
    }

    #nav-block {
        display: inline-flex;
        justify-content: flex-end;
    }

    .nav-elements {
        padding: 0 0 0 3vw;
        color: white;
        font-weight: bold;
        font-size: 1.5vw;
        vertical-align: top;
    }

    .nav-active {
        position: initial;
        display: inline-flex !important;
        width: 100%;
        font-size: 1em;
        text-align: none;
        background: transparent;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    /* Footer */
    footer {
        display: grid;
        grid-template-columns: 50% 50%;
        font-size: 1.5vw;
    }
}


/* Tablet Landscape */
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape) {

    /* Navbar */
    nav {
        display: grid;
        grid-template-columns: auto auto none;
        padding: 2.5vw;
    }

    #nav-icon {
        font-size: 2.1vw;
        line-height: 1.9vw;
    }

    #nav-icon-subtext {
        font-size: 1.4vw;
    }

    #nav-img-container {
        display: none;
    }

    #nav-block {
        display: inline-flex;
        justify-content: flex-end;
    }

    .nav-elements {
        padding: 0 0 0 4vw;
        color: white;
        font-weight: bold;
        font-size: 1.8vw;
        vertical-align: top;
    }

    .nav-active {
        position: initial;
        display: inline-flex !important;
        width: 100%;
        font-size: 1em;
        text-align: none;
        background: transparent;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    /* Footer */
    footer {
        display: grid;
        grid-template-columns: 50% 50%;
        font-size: 2vw;
    }
}

/* Tablet Portrait */
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) {

    /* Navbar */
    nav {
        display: grid;
        grid-template-columns: auto auto none;
        padding: 3vw;
    }

    #nav-icon {
        font-size: 2.3vw;
        line-height: 2.2vw;
    }

    #nav-icon-subtext {
        font-size: 1.7vw;
    }

    #nav-img-container {
        display: none;
    }

    #nav-block {
        display: inline-flex;
        justify-content: flex-end;
    }

    .nav-elements {
        padding: 0 0 0 4vw;
        color: white;
        font-weight: bold;
        font-size: 2vw;
        vertical-align: top;
    }

    .nav-active {
        position: initial;
        display: inline-flex !important;
        width: 100%;
        font-size: 1em;
        text-align: none;
        background: transparent;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    /* Footer */
    footer {
        display: grid;
        grid-template-columns: 50% 50%;
        font-size: 2vw;
    }
}