@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body, html {
    font-family: Montserrat;
    margin: 0;
    background: #F4F4F4;
}

#block-one {
    background: #00fff5;
    background: -webkit-linear-gradient(120deg, white 60%, transparent 60%), -webkit-linear-gradient(45deg, #00fff5 0%,#0076ff 100%);
    background: -moz-linear-gradient(120deg, white 60%, transparent 60%), -moz-linear-gradient(45deg, #00fff5 0%, #0076ff 100%);
    background: linear-gradient(120deg, white 60%, transparent 60%), linear-gradient(45deg, #00fff5 0%,#0076ff 100%);
}

#cta {
    margin: 1em 2em 0 2em;
}

#cta-text {
    padding-right: 2em;
}

#cta-title {
    font-size: 2.2em;
    font-size: 10vw;
    margin: 0;
}

#cta-subtext {
    font-weight: normal;
    font-size: 1.5em;
    font-size: 8vw;
    margin: 0;
}

/* Project classes */
.project {
    margin: 0 0.8em 0 0.8em;
    -webkit-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.1);
    border-radius: 15px;
    background: white;
}

.project-img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    border-radius: 15px 15px 0 0;
    border-bottom: 1px solid #C4C4C4;
}

.project-img-block {
    text-align: center;
}

.project-text-block {
    padding: 0 1em 1em 1em;
}

.project-text-block-extra {
    display: grid;
    grid-template-columns: 60% 40%;
}

.project-date {
    color: #707070;
    margin: 0;
    font-size: 1em;
}

.project-nav {
    display: block;
    color: black;
    font-weight: bold;
    font-size: 1em;
    text-decoration: none;
    text-align: right;
    overflow: hidden;
}

.separator {
    padding: 1em;
}

/* Desktop */
@media only screen and (min-width: 1024px) {
    
    #block-one {
        background: -webkit-linear-gradient(110deg, white 50%, transparent 50%), -webkit-linear-gradient(45deg, #00fff5 0%,#0076ff 100%);
        background: -moz-linear-gradient(110deg, white 50%, transparent 50%), -moz-linear-gradient(45deg, #00fff5 0%, #0076ff 100%);
        background: linear-gradient(110deg, white 50%, transparent 50%), linear-gradient(45deg, #00fff5 0%,#0076ff 100%);
    }

    #cta {
        display: grid;
        grid-template-columns: 60% 35%;
        margin-top: 0;
    }

    #nn-img {
        margin-top: 1em;
        margin-bottom: 2em;
    }

    #cta-text {
        align-self: center;
        padding-right: 4em;
        margin-top: 1em;
        margin-bottom: 2em;
    }

    #cta-title {
        font-size: 2.2em;
        font-size: 4vw;
    }
    
    #cta-subtext {
        font-weight: normal;
        font-size: 1em;
        font-size: 3vw;
        margin: 0;
    }


    /* Project classes */
    .project {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .project-text-block {
        font-size: 1.2em;
        position: relative;
    }

    .project-text-block-extra {
        margin-top: 1.3em;
        position: absolute;
        bottom: 1em;
        width: 90%;
    }

    .project-title {
        margin-top: 0.5em;
    }

    .project-description {
        margin: 0;
        font-size: 1em;
    }

    .project-img-block {
        height: 100%;
    }

    .project-img {
        border-radius: 15px 0 0 15px;
        border-bottom: 0;
        border-right: 1px solid #C4C4C4;
        max-height: none;
        width: 100%;
    }
}

/* Tablets */
@media only screen and (min-width : 768px) and (max-width : 1024px) {

    #block-one {
        background: -webkit-linear-gradient(110deg, white 50%, transparent 50%), -webkit-linear-gradient(45deg, #00fff5 0%,#0076ff 100%);
        background: -moz-linear-gradient(110deg, white 50%, transparent 50%), -moz-linear-gradient(45deg, #00fff5 0%, #0076ff 100%);
        background: linear-gradient(110deg, white 50%, transparent 50%), linear-gradient(45deg, #00fff5 0%,#0076ff 100%);
    }

    #cta {
        display: grid;
        grid-template-columns: 60% 35%;
        margin-top: 0;
    }

    #nn-img {
        margin-top: 1em;
        margin-bottom: 2em;
    }

    #cta-text {
        align-self: center;
        padding-right: 3em;
        margin-top: 1em;
        margin-bottom: 2em;
    }

    #cta-title {
        font-size: 2.2em;
        font-size: 4vw;
    }
    
    #cta-subtext {
        font-weight: normal;
        font-size: 1.5em;
        font-size: 3vw;
        margin: 0;
    }


    /* Project classes */
    .project {
        display: grid;
        grid-template-columns: 60% 40%;
    }

    .project-text-block {
        font-size: 0.95em;
        position: relative;
    }

    .project-text-block-extra {
        margin-top: 1.3em;
        position: absolute;
        bottom: 1em;
        width: 90%;
    }

    .project-title {
        margin-top: 0.5em;
    }

    .project-description {
        margin: 0;
        font-size: 1em;
    }

    .project-img-block {
        height: 100%;
    }

    .project-img {
        border-radius: 15px 0 0 15px;
        border-bottom: 0;
        border-right: 1px solid #C4C4C4;
        max-height: none;
        width: 100%;
    }
}