@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body, html {
    font-family: Montserrat;
    margin: 0;
}

#block-one-bg {
    min-height: 110vh;

    background: #00fff5; /* Old browsers */
    background: -moz-linear-gradient(45deg, #00fff5 0%, #0076ff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #00fff5 0%,#0076ff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #00fff5 0%,#0076ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00fff5', endColorstr='#0076ff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#block-one {
    background-image: -webkit-linear-gradient(-30deg, white 70%, transparent 30%);

    min-height: 110vh;
    margin-top: -110vh;
}

#cta {
    margin: 1em 2em 0 2em;
}

#cta-title {
    font-size: 2.2em;
    font-size: 10vw;
    margin: 0;
}

#cta-subtext {
    font-weight: normal;
    font-size: 1.5em;
    font-size: 8vw;
    margin: 0;
}

/* Project 1 */
#project-one-img-block {
    background: #3949AB;
}

/* Project 2 */
#project-two-img-block {
    background: #FF595E;
}

/* Project classes */
.project-img {
    width: 100%
}

.project-img-block{
    padding: 2em;
}

.project-text-block {
    padding: 2em;
}

.project-text-block-extra {
    display: grid;
    grid-template-columns: 60% 40%;
}

.project-date {
    color: #707070;
    margin: 0;
    font-size: 1em;
}

.project-nav {
    display: block;
    color: black;
    font-weight: bold;
    font-size: 1em;
    text-decoration: none;
    text-align: right;
    overflow: hidden;
}

.separator {
    padding: 2em;
}


/* Desktop */
@media only screen and (min-width: 768px) {
    #block-one-bg {
        min-height: 100vh;
    
        background: #00fff5; /* Old browsers */
        background: -moz-linear-gradient(45deg, #00fff5 0%, #0076ff 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(45deg, #00fff5 0%,#0076ff 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(45deg, #00fff5 0%,#0076ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00fff5', endColorstr='#0076ff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }

    #block-one {
        background-image: -webkit-linear-gradient(30deg, white 60%, transparent 60%);
    
        min-height: 100vh;
        margin-top: -100vh;
    }

    #cta {
        display: grid;
        grid-template-columns: 60% 35%;
    }

    #cta-title {
        font-size: 2.2em;
        font-size: 4vw;
        margin: 2em 0 0 0;
    }
    
    #cta-subtext {
        font-weight: normal;
        font-size: 1.5em;
        font-size: 3vw;
        margin: 0;
    }

    /* Project classes */
    .project {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .project-text-block {
        font-size: 1.3em;
    }

    .project-text-block-extra {
        margin-top: 2em;
        vertical-align: bottom;
    }

    .project-title {
        margin: 0;
    }

    .project-discription {
        margin: 0;
    }

    .project-img-block {
        padding: 0 2em 4em 2em;
    }

    .project-img {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
}