
#blog-content h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 45px;
  line-height: 52px;
  color: var(--md-light-on-background);
  margin-top: 48px;
}

#blog-content h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 44px;
  color: var(--md-light-on-background);
  margin-top: 48px;
}

#blog-content h4 {
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 40px;
  color: var(--md-light-on-background);
  margin-top: 48px;
}

#blog-content p {
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  color: var(--md-light-on-background);
  margin-top: 32px;
}

#blog-content a {
  color: var(--md-light-on-background);
  text-decoration: underline;
}

#blog-content a:hover {
  color: var(--md-light-on-surface-variant);
}

#blog-content strong {
  font-weight: 500;
}

#blog-content em {
  font-weight: 400;
}

#blog-content ol {
	margin-top: 16px;
	list-style-type: decimal;
	list-style-position: inside;
}

#blog-content pre {  
  font-family: "Roboto Mono" !important;
  margin-top: 24px;
  padding: 16px 32px;
  background: var(--md-light-surface1);
  overflow-x: auto;
  border-radius: 16px;
}

#blog-content code[class*="language-"] {
  font-family: "Roboto Mono" !important;
}

#blog-content :not(pre) > code[class*="language-"] {
  background: var(--md-light-surface1);
  border-radius: 6px;
  padding: 0px 4px;
}

#blog-content .token.operator {
  background: transparent;
}

#blog-content ul {
  margin-top: 16px;
}

#blog-content li {
  margin-top: 4px;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  color: var(--md-light-on-background);
}

#blog-content img {
  border-radius: 32px;
}