
.color-1 {
  color: #33B1FF;
}

.color-2 {
  color: #A56EFF;
}

.color-3 {
  color: #FA4D56;
}

.text-1-color {
  color: #c6c6c6;
}

.ui-1-color {
  background-color: #262626;
}

.block {
  min-height: 32rem;
}

.arrow-link {
  position: relative;
  display: inline-block;
}

.arrow-link:before {
  content: "\21B3";
  position: absolute;
  left: -1.5rem;
  color: currentColor;
  cursor: pointer;
}

.button-color {
  background-color: #0062ff;
}

.svg-fill {
  fill: #F4F4F4;
}

.contact-container {
  border: 1px solid #0062ff;
}

.contact-container:hover {
  background-color: #0062ff;
}