<!doctype html>
<html lang="en">
  {{ partial "head.html" . }}


  <body class="surface on-surface-text">
    {{ partial "header.html" }}


    <main class="px-6 md:px-12 mb-32 max-w-screen-2xl mx-auto">
      <div class="my-64">
        <h1 class="display-large">Blog</h1>
        <p class="headline-medium">Writings about my projects and ideas</p>
      </div>

      <div>
        <h2 class="display-small">Pages</h2>

        <div class="grid gap-6 grid-cols-1 lg:grid-cols-12 mt-8">
          {{ $simpleDatabasePage := .Page.GetPage "./simple-database/_index.md" }}
          <a href="{{ $simpleDatabasePage.Permalink }}" class="col-span-4">
            <div
              class="surface-container-high p-8 rounded-[32px] overflow-hidden h-full hover:surface-container-highest"
            >
              <p class="label-large">Page</p>
              <h3 class="headline-medium line-clamp-2">
                Build a Simple Database
              </h3>
              <p class="body-large mt-4 line-clamp-3">
                Introductory tutorial to designing and building a LSM-Tree based
                Key-Value Store like RocksDB
              </p>
            </div>
          </a>
        </div>
      </div>

      <div class="mt-32">
        <h2 class="display-small">Posts</h2>

        <div class="grid gap-6 grid-cols-1 lg:grid-cols-12 mt-8">
          {{ range where .Pages "IsPage" true }}
            <a href="{{ .Permalink }}" class="col-span-4">
              <div
                class="surface-container-high rounded-[32px] overflow-hidden h-full hover:surface-container-highest"
              >
                {{ $image := resources.Get .Params.image }}
                {{ $image := $image.Fill "696x392 jpg q90 Center" }}
                <img
                  class="w-full rounded-[32px]"
                  src="{{ $image.Permalink }}"
                  width="{{ $image.Width }}"
                  height="{{ $image.Height }}"
                  alt="{{ .Params.imageAlt }}"
                />

                <div class="p-8">
                  <p class="label-large">Article</p>
                  <h3 class="headline-medium line-clamp-2">
                    {{ .Title }}
                  </h3>
                  <p class="body-large mt-4 line-clamp-3">
                    {{ .Params.description }}
                  </p>
                </div>
              </div>
            </a>
          {{ end }}
        </div>
      </div>
    </main>

    {{ partial "footer.html" }}
  </body>
</html>
