@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body, html {
    font-family: Montserrat;
    margin: 0;
}

#blog-article {
    margin: 1em;
}

#blog-article-title {
    text-align: center;
    font-size: 2em;
}

#blog-article h4 {
    text-align: center;
}

#blog-article h3 {
    text-align: center;
    margin-top: 5em;
}

#table-of-contents li a {
    color: black;
}

#table-of-contents li {
    font-size: 1.2em;
}

/* Desktop */
@media only screen and (min-width: 1024px) {
    /* Header Changes */
    #nav-elements a {
        color: black;
        text-decoration: none;
    }

    #blog-article {
        width: 60%;
        margin: 0 auto 0 auto;
    }
    
    #blog-article-title {
        font-size: 5vh;
    }

    #blog-article p{
        font-size: 2.5vh;
    }

    #blog-article h4 {
        font-size: 2.5vh;
    }
}

/* Tablet Portrait */
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) {
    /* Header Changes */
    #nav-elements a {
        color: black;
        text-decoration: none;
    }

    #blog-article {
        width: 80%;
        margin: 0 auto 0 auto;
    }
    
    #blog-article-title {
        font-size: 3.8vh;
    }

    #blog-article p{
        font-size: 2vh;
    }

    #blog-article h4 {
        font-size: 2.2vh;
    }
}