:root {
  --md-source: #2bcaee;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary4: #001116;
  --md-ref-palette-primary5: #001319;
  --md-ref-palette-primary6: #00161c;
  --md-ref-palette-primary10: #001f27;
  --md-ref-palette-primary12: #00232c;
  --md-ref-palette-primary17: #002f39;
  --md-ref-palette-primary20: #003641;
  --md-ref-palette-primary22: #003a47;
  --md-ref-palette-primary24: #003f4d;
  --md-ref-palette-primary25: #00424f;
  --md-ref-palette-primary30: #004e5e;
  --md-ref-palette-primary35: #005b6d;
  --md-ref-palette-primary40: #00677c;
  --md-ref-palette-primary50: #00829b;
  --md-ref-palette-primary60: #009ebc;
  --md-ref-palette-primary70: #00bbde;
  --md-ref-palette-primary80: #42d7fb;
  --md-ref-palette-primary87: #94e6ff;
  --md-ref-palette-primary90: #b1ecff;
  --md-ref-palette-primary92: #c2f0ff;
  --md-ref-palette-primary94: #d2f3ff;
  --md-ref-palette-primary95: #daf5ff;
  --md-ref-palette-primary96: #e2f7ff;
  --md-ref-palette-primary98: #f1fbff;
  --md-ref-palette-primary99: #f9fdff;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary4: #001116;
  --md-ref-palette-secondary5: #001319;
  --md-ref-palette-secondary6: #00161c;
  --md-ref-palette-secondary10: #061e25;
  --md-ref-palette-secondary12: #0b2329;
  --md-ref-palette-secondary17: #162d34;
  --md-ref-palette-secondary20: #1d343a;
  --md-ref-palette-secondary22: #22383f;
  --md-ref-palette-secondary24: #263c43;
  --md-ref-palette-secondary25: #283f46;
  --md-ref-palette-secondary30: #344a51;
  --md-ref-palette-secondary35: #3f565d;
  --md-ref-palette-secondary40: #4b6269;
  --md-ref-palette-secondary50: #647b83;
  --md-ref-palette-secondary60: #7d949d;
  --md-ref-palette-secondary70: #97afb8;
  --md-ref-palette-secondary80: #b2cad3;
  --md-ref-palette-secondary87: #c6dee7;
  --md-ref-palette-secondary90: #cee7ef;
  --md-ref-palette-secondary92: #d4ecf5;
  --md-ref-palette-secondary94: #d9f2fb;
  --md-ref-palette-secondary95: #dcf5fe;
  --md-ref-palette-secondary96: #e2f7ff;
  --md-ref-palette-secondary98: #f1fbff;
  --md-ref-palette-secondary99: #f9fdff;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary4: #070b29;
  --md-ref-palette-tertiary5: #090e2c;
  --md-ref-palette-tertiary6: #0c112e;
  --md-ref-palette-tertiary10: #141937;
  --md-ref-palette-tertiary12: #191d3b;
  --md-ref-palette-tertiary17: #232846;
  --md-ref-palette-tertiary20: #2a2e4d;
  --md-ref-palette-tertiary22: #2e3352;
  --md-ref-palette-tertiary24: #333756;
  --md-ref-palette-tertiary25: #353959;
  --md-ref-palette-tertiary30: #404565;
  --md-ref-palette-tertiary35: #4c5071;
  --md-ref-palette-tertiary40: #585c7e;
  --md-ref-palette-tertiary50: #717598;
  --md-ref-palette-tertiary60: #8a8eb3;
  --md-ref-palette-tertiary70: #a5a9ce;
  --md-ref-palette-tertiary80: #c0c4eb;
  --md-ref-palette-tertiary87: #d4d7ff;
  --md-ref-palette-tertiary90: #dfe0ff;
  --md-ref-palette-tertiary92: #e6e6ff;
  --md-ref-palette-tertiary94: #edecff;
  --md-ref-palette-tertiary95: #f0efff;
  --md-ref-palette-tertiary96: #f4f2ff;
  --md-ref-palette-tertiary98: #fbf8ff;
  --md-ref-palette-tertiary99: #fffbff;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral4: #0b0f10;
  --md-ref-palette-neutral5: #0e1113;
  --md-ref-palette-neutral6: #111415;
  --md-ref-palette-neutral10: #191c1d;
  --md-ref-palette-neutral12: #1d2021;
  --md-ref-palette-neutral17: #272a2c;
  --md-ref-palette-neutral20: #2e3132;
  --md-ref-palette-neutral22: #323536;
  --md-ref-palette-neutral24: #373a3b;
  --md-ref-palette-neutral25: #393c3d;
  --md-ref-palette-neutral30: #444748;
  --md-ref-palette-neutral35: #505354;
  --md-ref-palette-neutral40: #5c5f60;
  --md-ref-palette-neutral50: #757779;
  --md-ref-palette-neutral60: #8e9192;
  --md-ref-palette-neutral70: #a9abad;
  --md-ref-palette-neutral80: #c5c7c8;
  --md-ref-palette-neutral87: #d8dadb;
  --md-ref-palette-neutral90: #e1e3e4;
  --md-ref-palette-neutral92: #e7e8ea;
  --md-ref-palette-neutral94: #eceeef;
  --md-ref-palette-neutral95: #eff1f2;
  --md-ref-palette-neutral96: #f2f4f5;
  --md-ref-palette-neutral98: #f8f9fb;
  --md-ref-palette-neutral99: #fbfcfe;
  --md-ref-palette-neutral100: #ffffff;
  /* neutral-variant */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant4: #070f12;
  --md-ref-palette-neutral-variant5: #0a1215;
  --md-ref-palette-neutral-variant6: #0c1517;
  --md-ref-palette-neutral-variant10: #151d20;
  --md-ref-palette-neutral-variant12: #192124;
  --md-ref-palette-neutral-variant17: #232b2e;
  --md-ref-palette-neutral-variant20: #293235;
  --md-ref-palette-neutral-variant22: #2e3639;
  --md-ref-palette-neutral-variant24: #323b3e;
  --md-ref-palette-neutral-variant25: #343d40;
  --md-ref-palette-neutral-variant30: #40484b;
  --md-ref-palette-neutral-variant35: #4b5457;
  --md-ref-palette-neutral-variant40: #576063;
  --md-ref-palette-neutral-variant50: #70787c;
  --md-ref-palette-neutral-variant60: #899296;
  --md-ref-palette-neutral-variant70: #a4adb0;
  --md-ref-palette-neutral-variant80: #bfc8cb;
  --md-ref-palette-neutral-variant87: #d3dbdf;
  --md-ref-palette-neutral-variant90: #dbe4e8;
  --md-ref-palette-neutral-variant92: #e1eaed;
  --md-ref-palette-neutral-variant94: #e7eff3;
  --md-ref-palette-neutral-variant95: #e9f2f6;
  --md-ref-palette-neutral-variant96: #ecf5f9;
  --md-ref-palette-neutral-variant98: #f2fbfe;
  --md-ref-palette-neutral-variant99: #f9fdff;
  --md-ref-palette-neutral-variant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error4: #280001;
  --md-ref-palette-error5: #2d0001;
  --md-ref-palette-error6: #310001;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error12: #490002;
  --md-ref-palette-error17: #5c0004;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error22: #710005;
  --md-ref-palette-error24: #790006;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error87: #ffcfc9;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error92: #ffe2de;
  --md-ref-palette-error94: #ffe9e6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error96: #fff0ee;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
  /* light */
  --md-sys-color-primary-light: #00677c;
  --md-sys-color-on-primary-light: #ffffff;
  --md-sys-color-primary-container-light: #b1ecff;
  --md-sys-color-on-primary-container-light: #001f27;
  --md-sys-color-primary-fixed-light: #b1ecff;
  --md-sys-color-on-primary-fixed-light: #001f27;
  --md-sys-color-primary-fixed-dim-light: #42d7fb;
  --md-sys-color-on-primary-fixed-variant-light: #004e5e;
  --md-sys-color-secondary-light: #4b6269;
  --md-sys-color-on-secondary-light: #ffffff;
  --md-sys-color-secondary-container-light: #cee7ef;
  --md-sys-color-on-secondary-container-light: #061e25;
  --md-sys-color-secondary-fixed-light: #cee7ef;
  --md-sys-color-on-secondary-fixed-light: #061e25;
  --md-sys-color-secondary-fixed-dim-light: #b2cad3;
  --md-sys-color-on-secondary-fixed-variant-light: #344a51;
  --md-sys-color-tertiary-light: #585c7e;
  --md-sys-color-on-tertiary-light: #ffffff;
  --md-sys-color-tertiary-container-light: #dfe0ff;
  --md-sys-color-on-tertiary-container-light: #141937;
  --md-sys-color-tertiary-fixed-light: #dfe0ff;
  --md-sys-color-on-tertiary-fixed-light: #141937;
  --md-sys-color-tertiary-fixed-dim-light: #c0c4eb;
  --md-sys-color-on-tertiary-fixed-variant-light: #404565;
  --md-sys-color-error-light: #ba1a1a;
  --md-sys-color-error-container-light: #ffdad6;
  --md-sys-color-on-error-light: #ffffff;
  --md-sys-color-on-error-container-light: #410002;
  --md-sys-color-background-light: #fbfcfe;
  --md-sys-color-on-background-light: #191c1d;
  --md-sys-color-outline-light: #70787c;
  --md-sys-color-inverse-on-surface-light: #eff1f2;
  --md-sys-color-inverse-surface-light: #2e3132;
  --md-sys-color-inverse-primary-light: #42d7fb;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-surface-tint-light: #00677c;
  --md-sys-color-outline-variant-light: #bfc8cb;
  --md-sys-color-scrim-light: #000000;
  --md-sys-color-surface-light: #f8f9fb;
  --md-sys-color-on-surface-light: #191c1d;
  --md-sys-color-surface-variant-light: #dbe4e8;
  --md-sys-color-on-surface-variant-light: #40484b;
  --md-sys-color-surface-container-highest-light: #e1e3e4;
  --md-sys-color-surface-container-high-light: #e7e8ea;
  --md-sys-color-surface-container-light: #eceeef;
  --md-sys-color-surface-container-low-light: #f2f4f5;
  --md-sys-color-surface-container-lowest-light: #ffffff;
  --md-sys-color-surface-dim-light: #d8dadb;
  --md-sys-color-surface-bright-light: #f8f9fb;
  /* dark */
  --md-sys-color-primary-dark: #42d7fb;
  --md-sys-color-on-primary-dark: #003641;
  --md-sys-color-primary-container-dark: #004e5e;
  --md-sys-color-on-primary-container-dark: #b1ecff;
  --md-sys-color-primary-fixed-dark: #b1ecff;
  --md-sys-color-on-primary-fixed-dark: #001f27;
  --md-sys-color-primary-fixed-dim-dark: #42d7fb;
  --md-sys-color-on-primary-fixed-variant-dark: #004e5e;
  --md-sys-color-secondary-dark: #b2cad3;
  --md-sys-color-on-secondary-dark: #1d343a;
  --md-sys-color-secondary-container-dark: #344a51;
  --md-sys-color-on-secondary-container-dark: #cee7ef;
  --md-sys-color-secondary-fixed-dark: #cee7ef;
  --md-sys-color-on-secondary-fixed-dark: #061e25;
  --md-sys-color-secondary-fixed-dim-dark: #b2cad3;
  --md-sys-color-on-secondary-fixed-variant-dark: #344a51;
  --md-sys-color-tertiary-dark: #c0c4eb;
  --md-sys-color-on-tertiary-dark: #2a2e4d;
  --md-sys-color-tertiary-container-dark: #404565;
  --md-sys-color-on-tertiary-container-dark: #dfe0ff;
  --md-sys-color-tertiary-fixed-dark: #dfe0ff;
  --md-sys-color-on-tertiary-fixed-dark: #141937;
  --md-sys-color-tertiary-fixed-dim-dark: #c0c4eb;
  --md-sys-color-on-tertiary-fixed-variant-dark: #404565;
  --md-sys-color-error-dark: #ffb4ab;
  --md-sys-color-error-container-dark: #93000a;
  --md-sys-color-on-error-dark: #690005;
  --md-sys-color-on-error-container-dark: #ffdad6;
  --md-sys-color-background-dark: #191c1d;
  --md-sys-color-on-background-dark: #e1e3e4;
  --md-sys-color-outline-dark: #899296;
  --md-sys-color-inverse-on-surface-dark: #191c1d;
  --md-sys-color-inverse-surface-dark: #e1e3e4;
  --md-sys-color-inverse-primary-dark: #00677c;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-surface-tint-dark: #42d7fb;
  --md-sys-color-outline-variant-dark: #40484b;
  --md-sys-color-scrim-dark: #000000;
  --md-sys-color-surface-dark: #111415;
  --md-sys-color-on-surface-dark: #c5c7c8;
  --md-sys-color-surface-variant-dark: #40484b;
  --md-sys-color-on-surface-variant-dark: #bfc8cb;
  --md-sys-color-surface-container-highest-dark: #323536;
  --md-sys-color-surface-container-high-dark: #272a2c;
  --md-sys-color-surface-container-dark: #1d2021;
  --md-sys-color-surface-container-low-dark: #191c1d;
  --md-sys-color-surface-container-lowest-dark: #0b0f10;
  --md-sys-color-surface-dim-dark: #111415;
  --md-sys-color-surface-bright-dark: #373a3b;
  /* display - large */
  --md-sys-typescale-display-large-font-family-name: Roboto;
  --md-sys-typescale-display-large-font-family-style: Regular;
  --md-sys-typescale-display-large-font-weight: 400;
  --md-sys-typescale-display-large-font-size: 57px;
  --md-sys-typescale-display-large-line-height: 64px;
  --md-sys-typescale-display-large-letter-spacing: -0.25px;
  /* display - medium */
  --md-sys-typescale-display-medium-font-family-name: Roboto;
  --md-sys-typescale-display-medium-font-family-style: Regular;
  --md-sys-typescale-display-medium-font-weight: 400;
  --md-sys-typescale-display-medium-font-size: 45px;
  --md-sys-typescale-display-medium-line-height: 52px;
  --md-sys-typescale-display-medium-letter-spacing: 0px;
  /* display - small */
  --md-sys-typescale-display-small-font-family-name: Roboto;
  --md-sys-typescale-display-small-font-family-style: Regular;
  --md-sys-typescale-display-small-font-weight: 400;
  --md-sys-typescale-display-small-font-size: 36px;
  --md-sys-typescale-display-small-line-height: 44px;
  --md-sys-typescale-display-small-letter-spacing: 0px;
  /* headline - large */
  --md-sys-typescale-headline-large-font-family-name: Roboto;
  --md-sys-typescale-headline-large-font-family-style: Regular;
  --md-sys-typescale-headline-large-font-weight: 400;
  --md-sys-typescale-headline-large-font-size: 32px;
  --md-sys-typescale-headline-large-line-height: 40px;
  --md-sys-typescale-headline-large-letter-spacing: 0px;
  /* headline - medium */
  --md-sys-typescale-headline-medium-font-family-name: Roboto;
  --md-sys-typescale-headline-medium-font-family-style: Regular;
  --md-sys-typescale-headline-medium-font-weight: 400;
  --md-sys-typescale-headline-medium-font-size: 28px;
  --md-sys-typescale-headline-medium-line-height: 36px;
  --md-sys-typescale-headline-medium-letter-spacing: 0px;
  /* headline - small */
  --md-sys-typescale-headline-small-font-family-name: Roboto;
  --md-sys-typescale-headline-small-font-family-style: Regular;
  --md-sys-typescale-headline-small-font-weight: 400;
  --md-sys-typescale-headline-small-font-size: 24px;
  --md-sys-typescale-headline-small-line-height: 32px;
  --md-sys-typescale-headline-small-letter-spacing: 0px;
  /* body - large */
  --md-sys-typescale-body-large-font-family-name: Roboto;
  --md-sys-typescale-body-large-font-family-style: Regular;
  --md-sys-typescale-body-large-font-weight: 400;
  --md-sys-typescale-body-large-font-size: 16px;
  --md-sys-typescale-body-large-line-height: 24px;
  --md-sys-typescale-body-large-letter-spacing: 0.5px;
  /* body - medium */
  --md-sys-typescale-body-medium-font-family-name: Roboto;
  --md-sys-typescale-body-medium-font-family-style: Regular;
  --md-sys-typescale-body-medium-font-weight: 400;
  --md-sys-typescale-body-medium-font-size: 14px;
  --md-sys-typescale-body-medium-line-height: 20px;
  --md-sys-typescale-body-medium-letter-spacing: 0.25px;
  /* body - small */
  --md-sys-typescale-body-small-font-family-name: Roboto;
  --md-sys-typescale-body-small-font-family-style: Regular;
  --md-sys-typescale-body-small-font-weight: 400;
  --md-sys-typescale-body-small-font-size: 12px;
  --md-sys-typescale-body-small-line-height: 16px;
  --md-sys-typescale-body-small-letter-spacing: 0.4px;
  /* label - large */
  --md-sys-typescale-label-large-font-family-name: Roboto;
  --md-sys-typescale-label-large-font-family-style: Medium;
  --md-sys-typescale-label-large-font-weight: 500;
  --md-sys-typescale-label-large-font-size: 14px;
  --md-sys-typescale-label-large-line-height: 20px;
  --md-sys-typescale-label-large-letter-spacing: 0.1px;
  /* label - medium */
  --md-sys-typescale-label-medium-font-family-name: Roboto;
  --md-sys-typescale-label-medium-font-family-style: Medium;
  --md-sys-typescale-label-medium-font-weight: 500;
  --md-sys-typescale-label-medium-font-size: 12px;
  --md-sys-typescale-label-medium-line-height: 16px;
  --md-sys-typescale-label-medium-letter-spacing: 0.5px;
  /* label - small */
  --md-sys-typescale-label-small-font-family-name: Roboto;
  --md-sys-typescale-label-small-font-family-style: Medium;
  --md-sys-typescale-label-small-font-weight: 500;
  --md-sys-typescale-label-small-font-size: 11px;
  --md-sys-typescale-label-small-line-height: 16px;
  --md-sys-typescale-label-small-letter-spacing: 0.5px;
  /* title - large */
  --md-sys-typescale-title-large-font-family-name: Roboto;
  --md-sys-typescale-title-large-font-family-style: Regular;
  --md-sys-typescale-title-large-font-weight: 400;
  --md-sys-typescale-title-large-font-size: 22px;
  --md-sys-typescale-title-large-line-height: 28px;
  --md-sys-typescale-title-large-letter-spacing: 0px;
  /* title - medium */
  --md-sys-typescale-title-medium-font-family-name: Roboto;
  --md-sys-typescale-title-medium-font-family-style: Medium;
  --md-sys-typescale-title-medium-font-weight: 500;
  --md-sys-typescale-title-medium-font-size: 16px;
  --md-sys-typescale-title-medium-line-height: 24px;
  --md-sys-typescale-title-medium-letter-spacing: 0.15px;
  /* title - small */
  --md-sys-typescale-title-small-font-family-name: Roboto;
  --md-sys-typescale-title-small-font-family-style: Medium;
  --md-sys-typescale-title-small-font-weight: 500;
  --md-sys-typescale-title-small-font-size: 14px;
  --md-sys-typescale-title-small-line-height: 20px;
  --md-sys-typescale-title-small-letter-spacing: 0.1px;
}
