@import '_globals';

nav {
  display: flex;
  padding: 1rem 1rem 0 1rem;
  
  .nav-icon-block {
    flex: 1;

    .nav-icon {
      @include heading-3;
      text-decoration: none;
    }
  }

  .nav-block {
    margin: 0;
    padding: 0;
    display: flex;

    .nav-element:first-child {
      margin-left: 0;
    }

    .nav-element {
      list-style-type: none;
      margin-left: 1rem;

      a {
        @include heading-2;
        text-decoration: none;
      }
    }
  }
}

footer {
  background-color: $ui-1;
  margin-top: 5rem;

  .footer-social-header {
    @include heading-2;
    padding: 1rem 0 0 1rem;
  }

  .footer-social {
    display: flex;
    flex-direction: row;
    padding: 0 0 1rem 1rem;
    margin: 0;

    .footer-social-icon {
      padding: 1rem;

      a {
        color: $text-01;
      }
    }
  }
}