@use '_header-footer';
@import '_globals';

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('IBM Plex Sans Light'), local('IBMPlexSans-Light'), url(https://fonts.gstatic.com/s/ibmplexsans/v7/zYX9KVElMYYaJe8bpLHnCwDKjXr8AIFsdP3pBms.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans'), local('IBMPlexSans'), url(https://fonts.gstatic.com/s/ibmplexsans/v7/zYXgKVElMYYaJe8bpLHnCwDKhdHeFaxOedc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans Italic'), local('IBMPlexSans-Italic'), url(https://fonts.gstatic.com/s/ibmplexsans/v7/zYX-KVElMYYaJe8bpLHnCwDKhdTuF6ZJW9XjDg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('IBM Plex Sans SemiBold'), local('IBMPlexSans-SemiBold'), url(https://fonts.gstatic.com/s/ibmplexsans/v7/zYX9KVElMYYaJe8bpLHnCwDKjQ76AIFsdP3pBms.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

$font-stack: 'IBM Plex Sans', sans-serif;

html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-stack;
  background-color: $ui-background;
  margin: 0;
  padding: 0;
}

.cta {
  background-image: url('/images/landingBackground.svg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0.5rem 1rem;

  .cta-header {
    @include heading-5;
    font-size: 3rem;
    line-height: 3.75rem;
    padding-top: 30vh;
    padding-bottom: 60vh;

    @media (max-width: $small-breakpoint) {
      padding-top: 15vh;
    }

    .cta-header-highlight {
      color: $link-01
    }
  }
}

.section-header {
  @include heading-5;
  color: $text-02;
  padding: 0 1rem;
}

.first-section-header {
  margin-bottom: 0;
}

.second-section-header {
  margin-top: 3rem;
  margin-bottom: 0;
}

.experience {
  width: 50%;
  margin-top: 4rem;
  padding: 0 1rem;

  @media (max-width: $small-breakpoint) {
    width: auto;
  }

  .experience-header {
    @include heading-3;
    margin: 0;
    font-size: 1.5rem;
    line-height: 1.875rem;
  }

  .experience-label {
    @include label-1;
    margin-top: 1rem;
    margin-bottom: 0;
  }

  .experience-value {
    @include body-2;
    margin: 0;

    a {
      @include link-1;
    }

    b {
      font-weight: 600;
    }
  }

  .experience-tools {
    display: flex;
    flex-wrap: wrap;
    .experience-tool {
      @include body-1;
      background-color: $ui-1;
      margin-right: 0.5rem;
      margin-top: 0.5rem;
      margin-bottom: 0;
      padding: 0.125rem 0.75rem;
      border-radius: 1rem;
    }
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;

  .button-link {
    display: inline-block;
    text-decoration: none;
  
    .button-container {
      display: flex;
      height: 3rem;
  
      padding-left: 1rem;
      background-color: $button-background;
  
      font-weight: 400;
      font-size: 0.875rem;
      line-height: 1.125rem;
      letter-spacing: 0.16px;
      color: #FFF;
  
      div {
        margin: auto 0;
      }
  
      .button-svg {
        width: 4rem;
  
        svg {
          float: right;
          padding-right: 1rem;
          fill: #FFF;
        }
      }
    }
  }
}

.resume-button {
  margin-top: 1rem;
}

.resume-header {
  text-align: center;
  color: $text-01;
  margin-top: 3rem;
}