@use '_header-footer';
@import '_globals';

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('IBM Plex Sans Light'), local('IBMPlexSans-Light'), url(https://fonts.gstatic.com/s/ibmplexsans/v7/zYX9KVElMYYaJe8bpLHnCwDKjXr8AIFsdP3pBms.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans'), local('IBMPlexSans'), url(https://fonts.gstatic.com/s/ibmplexsans/v7/zYXgKVElMYYaJe8bpLHnCwDKhdHeFaxOedc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('IBM Plex Sans SemiBold'), local('IBMPlexSans-SemiBold'), url(https://fonts.gstatic.com/s/ibmplexsans/v7/zYX9KVElMYYaJe8bpLHnCwDKjQ76AIFsdP3pBms.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

$font-stack: 'IBM Plex Sans', sans-serif;

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-stack;
  background-color: $ui-background;
  padding: 0.5rem 1rem;
}

.cta {
  background-image: url('../images/landingBackground.svg');
  background-repeat: no-repeat;
  background-size: cover;

  .cta-header {
    @include heading-5;
    font-size: 3rem;
    line-height: 3.75rem;
    padding-top: 40vh;
    padding-bottom: 60vh;

    .cta-header-highlight {
      color: $link-01
    }
  }
}

.section-header {
  @include heading-5;
  color: $text-02;
}

.first-section-header {
  margin-bottom: 0;
}

.experience {
  width: 50%;
  margin-top: 4rem;

  @media (max-width: $small-breakpoint) {
    width: 100%;
  }

  .experience-header {
    @include heading-3;
    margin: 0;
    font-size: 1.5rem;
    line-height: 1.875rem;
  }

  .experience-label {
    @include label-1;
    margin-top: 1rem;
    margin-bottom: 0;
  }

  .experience-value {
    @include body-2;
    margin: 0;

    a {
      @include link-1;
    }
  }

  .experience-tools {
    display: flex;
    flex-wrap: wrap;
    .experience-tool {
      @include body-1;
      background-color: $ui-1;
      margin-right: 0.5rem;
      margin-top: 0.5rem;
      margin-bottom: 0;
      padding: 0.125rem 0.75rem;
      border-radius: 1rem;
    }
  }
}
